html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

:root {
	--font-size: 1rem;

	--background: dodgerblue;

	--primary: white;
	--secondary: black;

}

body {
	background-color: var(--background);
	font-size: var(--font-size);
	color: var(--secondary);
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {}
ul {}
li {}


button {
	position: fixed;
	width: 200px;
	height: 75px;
	bottom: 0;
	color: white;
}

#output {
	position: fixed;
	bottom: 10px;
}

#start {
	left: 0;
	background-color: green;
}

#stopp {
	left: 200px;
	background-color: red;
}

#reset {
	left: 400px;
	background-color: black;
}

#output {
	left: 610px;
}