html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

:root {
	--font-size: 1rem;

	--background: white;

	--primary: dodgerblue;
	--secondary: purple;

}

body {
	background-color: var(--background);
	font-size: var(--font-size);
	color: var(--secondary);
	overflow: hidden;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {}
ul {}
li {}


#menu {
	position: fixed;
	bottom: 0;
	height: 75px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	background-color: white;
	width: 100%;
}

button {
	width: 200px;
	height: 100%;
	color: white;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

#start {
	background-color: green;
}

#stopp {
	background-color: red;
}

#reset {
	background-color: black;
}